{% extends 'main.html' %}

{% block login %}
	<div class="col-lg-offset-3 col-lg-6">
		<form action="/auth/login/" method="post">
			{% csrf_token %}
			<label for="username">Username</label>
			<input type="text" name="username" id="username">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			{% if login_error %}
				<label class="error">{{ login_error }}</label>
			{% endif %}
			<input class="button" type="submit" value="Login">
			<div class="register-button"><a href="/auth/register/">Register</a></div>
		</form>
	</div>
{% endblock %}