.logs{
	width: 100%;
	background-color: #337ab7;
    padding: 10px;
}

ul.menu{
	float: right;
	list-style-type: none;
}
ul.menu li a{
	color: #fff;
	margin-right: 10px;
	font-size: 16px;
}
.helptext{
	display: none;
}