<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	This is {{ name  }} view
</body>
</html>















<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Title</title>
	<style type="text/css">
		.round{
			width: 250px;
			height: 250px;
			margin: 0 auto;
			margin-top: 75px;
			background-color: violet;
			border: 1px solid #45ac12;
			border-radius: 30%;
		}
		.round p{
			text-align: center;
			margin-top: 35%;
			color: #123eae;
			font-size: 45px;

		}
		#disp1{
			margin-top: -35%;
		}
		#disp1{
			opacity: 0;
		}
		.round:hover p#disp1{
			opacity: 1;
			transition: all linear 400ms;

		}
		.round:hover p#disp0{
			opacity: 0;
			transition: all linear 400ms;
		}
	</style>
</head>
<body>
	<div class="round">
		<p id="disp0">А в жопу можно?</p>
		<p id="disp1">ДААА</p>
	</div>
</body>
</html> -->